html, body {
  font-family: 'Gill Sans', 'Gill Sans MT', Arial, Helvetica, sans-serif, 'Trebuchet MS', sans-serif, Helvetica,sans-serif;
  margin: 0;
  padding: 0;
  overflow: auto;
}

header {
  display: block;
  text-align: center;
  justify-content: center;
  padding: 0.3em;
  font-family: 'Kaushan Script', cursive;
  font-weight: normal;
  letter-spacing: 0.05em;
  line-height: 1;
  margin: 0.25em 0 0;
  .header {
    margin: 1.5em 0 0 ;
    padding: 0.5em;
  }
  .header-part-1 {
    cursor: default;
    font-size: 2.5rem;
    text-decoration: none;
    color: black
  }
  .header-part-2 {
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 800;
    color: gray
  }
}

.wrapper {
  text-align: center;
  // position: fixed;
  // display: flex;
  // width: 50%;
  // flex-direction: column;
  // justify-content: top;
  // width:100%;
  // max-width: 30%;
  // max-height: 100%;
  // position: absolute;
  // right:0;

  input {
    text-align: center;
    align-self: center;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    background: transparent;
    border-bottom: 1px solid black;
    height: 2em;
    margin: 0.5em;
    padding: 0.5em;
    width: 75%;
    &::placeholder{
      color:black;
    }
    &:focus::placeholder {
      color: transparent;
    }
  }

  ul {
    width: 80%;
    list-style: none;
    padding: 0;
    margin:  1em auto 2em auto;
    overflow-y: scroll;

    &::-webkit-scrollbar-track{
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
      border-radius: 10px;
    }

      &::-webkit-scrollbar{
      width: 14px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb{
      background-color: #7dcdcd;
      border:1px solid black;
      border-radius: 20px;
      background-image: -webkit-linear-gradient(
        0deg,
      rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 75%,
      transparent)
    }

    li {
      line-height: 20px;
      border: 1px solid black;
      margin: 0.5em;
      padding: 0.5em;

      &:hover {
        cursor:pointer;
        background:black;
        color:white;
        margin: 0;
        transition: all ease-in 0.25s;
        &::after {
          content:'';
          display:block;
          height:0.4em;
          width:60%;
          margin:auto;
          border-bottom:solid ;
        }
      }
    }
  }
}


#map {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  left: 0;
}

.info{
  &-box {
  background: #d8d8d8;
  border: 1px solid black;
  text-align: center;
  max-width: 400px;
  }

  &-title {
    font-size: 1.5em;
    padding: 0.5em;
  }

  &-address {
    font-weight: 400;
    list-style-type: none;
    padding-left:0;
    text-align: center;
  }
}

.call_to_action {
  text-align: center;
  justify-content: center;
  display: flex;
  font-weight:500;
  padding: 1em;
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: italic;
    color:#d8d8d8;
    background:black;
  }

  &:hover.fs_logo {
  color:#f94877;
  }

  .fs_logo {
    margin-left:1px;
  }
}


footer {
  display: block;
  flex-direction: column;

  &::before {
    content:'';
    display:block;
    height:0.4em;
    width:75%;
    margin:auto;
    border-bottom:solid ;
  }

  a {
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 0.1em;
    line-height: 1;
    text-decoration: none;
    color:darkgreen
  }

  p {
    padding: 1em;
    margin:0;

    &:first-child {
      font-weight: 500;
      padding: 0.5em;
    }
  }
}

.menu-button {
  border-radius: 5%;
  height: 70px;
  width: 70px;
  color: white;
  background: black;
  box-shadow: 0 2px 2px rgba(0,0,0,1);
  border: 1px solid;
  padding: 5px;
  margin: 0;
  font-weight: 800;
  letter-spacing: 1px;
  z-index: 1;
  position: absolute;
  right: 25px;
  transform:scale(1.3);
  cursor: pointer;
  &:hover {
    background:black;
    color:white;
    width: 150px;
    transition: all ease-in 0.25s;
    &::after {
      content:'';
      display:block;
      height:0.4em;
      width:60%;
      margin:auto;
      border-bottom:solid ;
    }
    &::before {
      content:'OPEN';
      display:block;
      height:1em;
      width:100%;
      margin:auto;
    }
  }
}

