html, body {
  font-family: 'Gill Sans', 'Gill Sans MT', Arial, Helvetica, sans-serif, 'Trebuchet MS', sans-serif, Helvetica,sans-serif;
  margin: 0;
  padding: 0;
  overflow: auto;
}

header {
  display: block;
  text-align: center;
  justify-content: center;
  padding: 0.3em;
  font-family: 'Kaushan Script', cursive;
  font-weight: normal;
  letter-spacing: 0.05em;
  line-height: 1;
  margin: 0.25em 0 0;
  .header {
    margin: 1.5em 0 0 ;
    padding: 0.5em;
  }
  .header-part-1 {
    cursor: default;
    font-size: 2.5rem;
    text-decoration: none;
    color: black
  }
  .header-part-2 {
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 800;
    color: gray
  }
}


.wrapper {
  position: fixed;
  display: flex;
  width: 50%;
  flex-direction: column;
  text-align: center;
  justify-content: top;
  overflow-y: scroll;
  right: 0;
  top: 0;
  // transform: translate3d(45vw, 0, 0);
  transition: transform .3s cubic-bezier(0, .52, 0, 1);
  z-index: 1;

  &::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
  }

    &::-webkit-scrollbar{
    width: 14px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb{
    background-color: #7dcdcd;
    border:1px solid black;
    border-radius: 20px;
    background-image: -webkit-linear-gradient(
      0deg,
    rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 75%,
    transparent)
  }

  input {
    text-align: center;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    background: transparent;
    border-bottom: 1px solid black;
    height: 2em;
    margin: 0.5em;
    padding: 0.5em;
    width: 75%;
    &::placeholder{
      color:black;
    }
    &:focus::placeholder {
      color: transparent;
    }
  }

  ul {
    width: 80%;
    list-style: none;
    padding: 0;
    margin:  1em auto 2em auto;

    li {
      line-height: 20px;
      border: 1px solid black;
      margin: 0.5em;
      padding: 0.5em;

      &:hover {
        cursor:pointer;
        background:black;
        color:white;
        margin: 3px 0 3px 0;
        transition: all ease-in 0.25s;
        &::after {
          content:'';
          display:block;
          height:0.4em;
          width:60%;
          margin:auto;
          border-bottom:solid ;
        }
      }
    }
  }
}


#map {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  left: 0;
}

.info{
  &-box {
  background: #d8d8d8;
  border: 1px solid black;
  text-align: center;
  max-width: 400px;
  }

  &-title {
    font-size: 1.5em;
    padding: 0.5em;
  }

  &-address {
    font-weight: 400;
    list-style-type: none;
    padding-left:0;
    text-align: center;
  }
}

.call_to_action {
  text-align: center;
  justify-content: center;
  display: flex;
  font-weight:500;
  padding: 1em;
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: italic;
    color:#d8d8d8;
    background:black;
  }

  &:hover.fs_logo {
  color:#f94877;
  }

  .fs_logo {
    margin-left:1px;
  }
}


footer {
  display: flex;
  flex-direction: column;

  &::before {
    content:'';
    display:block;
    height:0.4em;
    width:75%;
    margin:auto;
    border-bottom:solid ;
  }

  a {
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 0.1em;
    line-height: 1;
    text-decoration: none;
    color:darkgreen
  }

  p {
    padding: 1em;
    margin:0;

    &:first-child {
      font-weight: 500;
      padding: 0.5em;
    }
  }
}


#roundButton {
  background-color: #96D9FF;
  // z-index: 10000;
  margin: 1em;
  padding: 1em;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid #0065A6;
  outline: none;
  transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
}

#roundButton:hover {
  background-color: #96D9FF;
  cursor: pointer;
  border-color: #003557;
  transform: scale(1.2, 1.2);
}

#roundButton:active {
  border-color: #003557;
  background-color: #FFF;
}

#flyoutMenu {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #d8d8d8;
  position: fixed;
  top: 0;
  right: 0;
  transition: transform .3s
              cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  text-align: left;
  z-index: 2;
}

#flyoutMenu.hide {
  transform: translate3d(100vw, 0, 0);
}

#flyoutMenu.show {
  transform: translate3d(70vw, 0, 0);
  overflow: scroll;
}

#flyoutMenu h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}

#flyoutMenu h2 a:hover {
  text-decoration: underline;
}
